<div class="container custom-container">
  <div class="col-md-12">
    
    <h3 class="mb-3 text-center">Update Employee</h3>

    <div class="form-group">
      <input type="text" [(ngModel)]="employeeData.sales_id" class="form-control" placeholder="Sales Id">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="employeeData.date_of_purchase" class="form-control" placeholder="Date of Purchase " readonly>
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="employeeData.customer_id" class="form-control" placeholder="Customer Id">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="employeeData.fuel" class="form-control" placeholder="Fuel">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="employeeData.vehicle_segment" class="form-control" placeholder="Vehicle Segment">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="employeeData.selling_price" class="form-control" placeholder="Selling Price">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="employeeData.power_steering" class="form-control" placeholder="Power Steering">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="employeeData.airbags" class="form-control" placeholder="Airbags">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="employeeData.sunroof" class="form-control" placeholder="Sunroof">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="employeeData.matt_finish" class="form-control" placeholder="Matt Finish">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="employeeData.music_system" class="form-control" placeholder="Music System">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="employeeData.customer_gender" class="form-control" placeholder="Customer Gender">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="employeeData.customer_income_group" class="form-control" placeholder="Customer Income Group">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="employeeData.customer_region" class="form-control" placeholder="Customer Region">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="employeeData.customer_marital_status" class="form-control" placeholder="Customer Marital Status">
    </div>



    

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="updateEmployee()">Update Employee</button>
    </div>
    
  </div>
</div>
